/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  font-size: 1rem;
  
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  background:url(../img/background.jpg) center no-repeat;
  background-size: cover;
}

h1 {
  color: white;
  font-size: 2rem;
  /* margin-top: 10px; */
}
h2 {
  color:white;
}
button {
  border-radius: 20px;
  font-size: 20px;
  /* margin: 5px; */
}
.container {
  border: 1px solid black;
  width: 100%;
  height: 700px;
  /* margin:0 auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
}

img{
  width: 400px;
  height: 300px;
  display: block;
  margin: 0 auto;
  border: 5px solid rgba(176, 176, 238, 0.788);
}

button, input {
  height: 30px;
  width: 145px;
  /* margin-bottom: 10px; */
}
button  {
  width: 100px;
}

h3 {
  font-size:1.3rem;
  text-align: center;
  background-color: rgba(176, 176, 238, 0.788);
  width: 70%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
