//none of these damn margin: 0s or autos are working

*{
  box-sizing: border-box;
}
body{
  background-image: url('../background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-weight: 400;
}
header{
  margin-left: 30%;
  clear: left;
  font-size: 2em;
}
span{
  float: left;
  }
form{
  float: left;
}
input{
  height: 2em;
  padding: .5em 0;
}
h2{
  margin-left: 35%;
  margin-top: 1em;
  width: 100%;
  float: left;
}
img{
  display: block;
  max-height: 33em;
  max-width: 80%;
  margin: auto;
}
p{
  width: 80%;
  margin-left: 10%;
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.5);
}
