iframe{
  display: none;
}
body{
  background-image: url(uni.png);
  text-align: center;
}
p{
  margin: 0 0 0 0;
}
section{
  font-size: 18px;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 55px 0 0 37%;
  border-radius: 20%;
  max-width: 25%;
  border: 2px solid black;
  padding:0 0 8px 0;
}
button{
  font-size: 18px;
  font-weight: 600;

}
img{
  margin: 35px 0 0 14%;
}
input{
  height: 17px;
}
iframe{
  margin:30px 0 0 39%;
}
