/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  text-align: center;
  font-family: 'Quicksand', 'Futura', sans-serif;
  background-image: url("../img/background.jpg");
  background-size: cover;
}

img{
  display: block;
  margin: 0 auto;
  width: 800px;
}

h4 {
  text-align: center;
  margin: 3% 15%;
}

p {
  font-size: 20px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
