/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  width:100%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/


.hidden{
  display: none;
}

iframe{
  display:block;
  width: 100%;
  height: 500px;
  border: none;
}